body{
  font-family: $font-base;
  background-color: $color-background;
  line-height: 1.5;
}

.column-center{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align{
  display: table;

  &-item{
    display: table-cell;
    vertical-align: middle;
  }
}