.box-content{
    font-size: 14px;
    color: $color-secondary;
    background-color: #FFF;
    margin-bottom: 2vw;

    &--center{
        text-align: center;
    }

    &-header{
        background-color: $color-secondary;
        color: #FFF;
        text-align: center;
        padding: 2vw 0;
        border-radius: 5px 5px 0 0;
    }

    &-body{
        padding: 2vw 3vw 1vw;

        &-title{
            font-weight: 700;
            margin-bottom: 1vw;
        }

        &-item{
            margin-bottom: 2vw;
        }
    }
    &-footer{
        padding: 1vw 3vw 2vw;
    }
}

@media (max-width: 992px) {
    .box-content{
        display: none;
    }
 }